body {
    background-image: url("./images/paws2.jpg");
    background-size: cover;
    position: relative;
}

.jumbotron {
    background-color: tan;
    padding: 50px;
    text-align: center;
}
 #breedSearch{
    width: 70%;
    margin-right:10px;
}   

.card {
    padding: 0;
}

.first-card {
    margin-bottom: 25px;
}

#separate-top {
    margin-top: 35px;
}

.separate {
    visibility: hidden;
}

.last-card {
    margin-bottom: 20px;
}

.last-card-body {
    padding: 20px;
}

.card-header {
    width: 100%;
}

.custom-select {
    margin: 10px;
}

.btn-outline-success {
    color: tan;
    border-color: tan;
}

#breed-input {
    margin: 10px 10px 10px;
}

#cityInput1 {
    margin-left: 10px;
}

#donate {
    background-color: tan;
    width: 100%;
    text-align: center;
}

.lead {
    margin-top: 14px;
}

a {
    color: white;
}

.dog,
.pet {
    text-align: center;
    display: block;
    margin: 25px;
    margin-bottom: 15px;
}

.dog-info {
    text-align: left;
    font-style: normal;
}

#shelter-results {
    display: none;
}



@media screen and (max-width: 1200px) {

    #cityInput1 {
        margin-bottom: 10px;
    }

        #searchBtn1 {
            margin-left: 10px;
        }
}



@media screen and (max-width: 992px) {

    #cityInput1 {
        margin-bottom: 10px;
    }

    #breedSearch {
        margin-bottom: 10px;
    }

    #searchBtn1 {
        margin-left: 10px;
    }
}

