body {
    background-image: url("./images/paws2.jpg");
    position: relative;
}

.jumbotron {
    background-color: tan;
    background-image: "./images/paws.jpg";
    padding: 50px;
    text-align: center;
}


.card1 {
    width: 80%;
    float: center;
    margin-left: 125px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
}

.search-div {
    padding: 0;
    position: absolute;
    top: 125px;
    left: 700px;
}

.card {
    padding: 0;
}

.card-header {
    width: 100%;
}

.custom-select,
#cityInput1 {
    margin: 10px;
}

.btn-outline-success {
    color: rgb(45, 138, 243);
    border-color: rgb(45, 138, 243);
}

.dog-info {
    position: absolute;
    top: 20px;
    left: 500px;
}

#donate {
    background-color:tan;
    );
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.lead {
    margin-top: 14px;
}

a {
    color: white;
}

.dog, 
.pet {
    text-align: center;
    display: block;
    margin: 25px;
    margin-bottom: 15px;
}

.dog-info {
    text-align: center;
    font-style: normal;
}