body {
    background-image: url("./images/paws2.jpg");
    background-size: cover;
    position: relative;
}

.jumbotron {
    background-color: tan;
    background-image: "./images/paws.jpg";
    padding: 50px;
    text-align: center;
}


.card1 {
    background-color: white;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

.search-div {
    z-index: 1;
    padding: 0;
    position: absolute;
    top: 125px;
    left: 700px;
}

.card {
    padding: 0;
}

.first-card {
    margin-bottom: 25px;
}

#separate-top {
    margin-top: 35px;
}

.separate {
    visibility: hidden;
}

.last-card {
    margin-bottom: 20px;
}

.last-card-body {
    padding: 20px;
}

.card-header {
    width: 100%;
}

.custom-select,
#cityInput1 {
    margin: 10px;
}

.btn-outline-success {
    color:tan;
    border-color: tan;
}

#breed-input {
    margin-top: 10px;
}

.no-padding {
    padding: 0 25px;
}

.dog-info {
    position: absolute;
    top: 20px;
    left: 500px;
}

#donate {
    background-color:tan;
    width: 100%;
    text-align: center;
}

.lead {
    margin-top: 14px;
}

a {
    color: white;
}

.dog, 
.pet {
    text-align: center;
    display: block;
    margin: 25px;
    margin-bottom: 15px;
}

.dog-info {
    text-align: center;
    font-style: normal;
}
